.button {
  height: 44px;
  border: none;
  border-radius: 2px;
  font-family: var(--font--body);
  font-weight: var(--font-weight--semibold);
  font-variant-caps: small-caps;
  text-transform: lowercase;
  padding: 0 16px;

  &:not(:disabled) {
    cursor: pointer;
    transition: 0.1s background-color;
  }

  &:disabled {
    opacity: 0.5;
  }
}

@media (min-width: 480px) {
  .button {
    min-width: 152px;
    padding: 0;
  }
}

.primary, .secondary, .danger {
  color: var(--color--text);
  font-size: 16px;
  box-shadow: 0 4px 4px 0px var(--color--shadow);
}

.primary {
  background-color: var(--color--brand);
}

.danger {
  background-color: var(--color--warn);
}

.secondary {
  background-color: var(--color--background);
}

.tertiary {
  background-color: transparent;
  color: var(--color--brand);
  font-size: 18px;
  white-space: nowrap;

  &:not(:disabled):hover {
    background-color: var(--color--background-hover-highlight);
  }
}
