.button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.primary {
  color: var(--color--brand);

  &:hover, &:focus {
    color: var(--color--brand-variant);
  }
}

.secondary {
  color: var(--color--text);
}

.tertiary {
  color: var(--color--divider);
}
