.button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 100%;

  &:disabled {
    cursor: auto;
  }
}

.primary {
  color: var(--color, var(--color--brand));

  &:disabled { color: var(--color--text-placeholder); }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    --color: var(--color--brand-variant);
  }
}

.secondary {
  color: var(--color--text);
  background-color: var(--background-color);

  &:disabled { color: var(--color--text-placeholder); }

  &:not(:disabled):not(.quiet):hover {
    --background-color: var(--color--background-hover-highlight);
  }
}

.tertiary {
  color: var(--color--divider);

  &:disabled { color: var(--color--text-placeholder); }
}
