@import helper

.ca, button, input
  font-family: $font--body
  color: $color__text--body
a:link, a:visited
  text-decoration: none
  color: darker($color--primary, 40%, 20%)
a:hover, a:active
  color: darker($color--primary, 10%)

$toolbar-height: 50px

.ca
  font-size: 12pt
  background-image: url('images/asanoha-400px.png')
  width: 100vw
  height: 100vh
  &__title
    font-family: $font--title
  &__toolbar
    +card(1)
    +natural-light($color--primary)
    display: flex
    align-items: center
    padding: 0 20px
    height: $toolbar-height
  &__container
    z-index: 0
    position: absolute
    top: $toolbar-height
    bottom: 0
    width: 100vw
    transform: translate3d(0, 0, 0)
    overflow: auto
  &__sidenav
    $sidenav-width: 300px
    position: fixed
    right: 100%
    top: 0
    bottom: 0
    width: $sidenav-width
    z-index: 4
    display: flex
    flex-direction: column
    transform: none
    transition: transform 0.4s, box-shadow 0.4s
    background: white
    &--open
      +card(4)
      transform: translateX($sidenav-width)
