@import list

.dashboard
  display: flex
  &__card
    flex-basis: 800px
    flex-shrink: 1
    margin: 20px
  &__keys
    display: flex
    align-items: center
    margin-left: auto
    .icon
      margin-right: 8px
