[conEditable] {
  position: relative;
  outline: none;

  &:hover:not(:focus) {
    cursor: pointer;

    &::after {
      content: 'edit';
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      width: calc(100% + 16px);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font: smaller 'Material Icons';
      cursor: pointer;
      padding: 8px;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
