<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportEmail</key>
	<string>support@conartist.app</string>
	<key>WebURL</key>
	<string>https://staging.conartist.app</string>
	<key>APIURL</key>
	<string>https://api.staging.conartist.app</string>
	<key>GraphQLURL</key>
	<string>https://graph.staging.conartist.app</string>
	<key>ResourcesURL</key>
	<string>https://api.staging,conartist.app/resource</string>
	<key>ConventionRequestFile</key>
	<string>https://github.com/OinkIguana/conartist/blob/master/dev/import-conventions/sample/convention.toml</string>
</dict>
</plist>
