.item {
  --background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: var(--background-color);
  font-weight: var(--font-weight--semibold);
  flex-shrink: 0;

  &:hover {
    --background-color: var(--color--background-hover-highlight);
  }
}

.body {
  max-height: 100%;
  overflow-y: auto;
}
