.primary, .secondary, .tertiary {
  height: 44px;
  width: 152px;
  border: none;
  border-radius: 2px;
  font-family: var(--font--body);
  font-weight: var(--font-weight--semibold);
  font-variant: small-caps;
  text-transform: lowercase;

  &:not(:disabled) {
    cursor: pointer;
    transition: 0.1s background-color;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.primary, .secondary {
  color: var(--color--text);
  font-size: 16px;
  box-shadow: 0 4px 4px 0px var(--color--shadow);
}

.primary {
  background-color: var(--color--brand);
}

.secondary {
  background-color: var(--color--background);
}

.tertiary {
  background-color: transparent;
  color: var(--color--brand);
  font-size: 18px;
  margin-left: auto;

  &:not(:disabled):hover {
    background-color: var(--color--background-hover-highlight);
  }
}
