/web/src/**.js
*.js.map

node_modules
npm-debug.log

/web-x

.DS_Store
Thumbs.db

*.cmd
server/mime
server/mkdirp
server/node-pre-gyp
server/nopt
server/rc
server/rimraf
server/semver
server/sshpk-conv
server/sshpk-sign
server/sshpk-verify
server/uuid
