# exclude the minified source files from linguist results
*.min.js linguist-generated=true
*.min.css linguist-generated=true

# not actually generated but hey its not really code either
*.config.js linguist-generated=true

# Apollo codegen files
GraphQL.swift linguist-generated=true
