@import '../variables';

:host {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $helpLayer;
  pointer-events: none;
}

svg {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.4);

  rect, ellipse, path {
    stroke: white;
    stroke-width: 1px;
    fill: none;
  }
  text {
    stroke: none;
    fill: white;
  }
}

.help {
  &__text {
    $textMargin: 5px;
    &--left, &--center, &--right {
      alignment-baseline: middle;
    }
    &--top-left, &--top, &--top-right {
      alignment-baseline: bottom;
    }
    &--bottom-left, &--bottom, &--bottom-right {
      alignment-baseline: top;
    }
    &--top, &--center, &--bottom {
      text-anchor: middle;
    }
    &--top-right, &--right, &--bottom-right {
      text-anchor: start;
      transform: translateX($textMargin)
    }
    &--top-left, &--left, &--bottom-left {
      text-anchor: end;
      transform: translateX(-$textMargin)
    }
  }
}
