.toast {
  position: fixed;
  top: 100%;
  left: 50%;
  background-color: var(--color--background-variant);
  box-shadow: 0 4px 8px var(--color--shadow);
  padding: 16px 32px 16px 16px;
  border-left: 4px solid var(--color--brand);
  transition: transform 0.3s, opacity 0.1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0, 1.175);
  cursor: pointer;
  font-size: 18px;

  &:hover {
    opacity: 0.8;
  }
}

.visible {
  transform: translateY(calc(-100% - 64px)) translateX(-50%);
}

.hidden {
  transform: translateY(50px) translateX(-50%);
}
