@import helper

.card
  +card(1)
  background-color: white
  display: flex
  flex-direction: column
  &__placeholder
    padding: 40px
    display: flex
    align-items: center
    justify-content: center
    color: $color--placeholder
  &__title,
  &__actions,
  &__content
    padding: 0 20px
  &__title,
  &__actions
    font-size: 11pt
  &__title
    display: flex
    align-items: center
    position: relative
    overflow: visible
    height: 54px
    margin-bottom: 8px
  &__content,
  &__actions
    margin: 8px 0
  &__actions
    display: flex
    align-self: flex-end
    justify-content: flex-end
