.detailsButton {
  composes: detailsButton from '../conventions/card.css';
}

.placeholder {
  composes: placeholder from '../../common/styles.css';
}

.footer {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 32px;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 8px;
}
