<h2 md-dialog-title>Choose a Convention</h2>
<md-dialog-content>
  <!-- TODO: make this a data table -->
  <div *ngIf="conCount; else placeholder">
    <md-table [dataSource]="dataSource">
      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef>Name</md-header-cell>
        <md-cell *mdCellDef="let con">
          {{ con.title }}
        </md-cell>
      </ng-container>

      <ng-container mdColumnDef="code">
        <md-header-cell *mdHeaderCellDef>Code</md-header-cell>
        <md-cell *mdCellDef="let con">
          {{ con.code }}
        </md-cell>
      </ng-container>

      <ng-container mdColumnDef="start">
        <md-header-cell *mdHeaderCellDef>Start</md-header-cell>
        <md-cell *mdCellDef="let con">
          {{ con.start | date }}
        </md-cell>
      </ng-container>

      <ng-container mdColumnDef="end">
        <md-header-cell *mdHeaderCellDef>End</md-header-cell>
        <md-cell *mdCellDef="let con">
          {{ con.end | date }}
        </md-cell>
      </ng-container>

      <ng-container mdColumnDef="choose">
        <md-header-cell *mdHeaderCellDef class="choose-convention__column--action">Choose</md-header-cell>
        <md-cell *mdCellDef="let con" class="choose-convention__column--action">
          <button md-icon-button [md-dialog-close]="con">
            <md-icon>check</md-icon>
          </button>
        </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let con; columns: displayedColumns"></md-row>
    </md-table>
    <md-paginator
      [pageIndex]="page"
      [length]="conCount"
      [pageSize]="pageSize"
      (page)="page = $event.pageIndex">
    </md-paginator>
  </div>
  <ng-template #placeholder>
    <div class="choose-convention__placeholder">
      No conventions are currently available.
    </div>
  </ng-template>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>Close</button>
</md-dialog-actions>
