@import '../variables';
.choose-convention {
  &__column {
    &--action {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 80px;
      justify-content: center;
    }
  }
  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: $secondary;
  }
}
