.list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.dragIndicator {
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  height: 2px;
  margin-right: 4px;
  background-color: var(--color--brand);

  &::after {
    content: '';
    position: absolute;
    left: 100%;
    border-radius: 100%;
    border: 2px solid var(--color--brand);
    width: 6px;
    height: 6px;
  }
}
