.item {
  display: flex;
  flex-direction: row;
  height: var(--height--row);
  width: 100%;
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: var(--color--hover-highlight);
  }
}
