.title {
  display: inline;
  padding: 0;
  margin: 0;
  font-weight: var(--font-weight--bold);
  font-size: 18px;
}

.splashBanner {
  margin-top: 100px;
  padding: 20px;
  width: 60%;
  min-width: 335px;
}

.headline {
  font-size: 32pt;
}

.paragraph {
  font-size: 14pt;
}

.links {
  padding: 0 16px;

  & a {
    margin-right: 16px;
  }
}

.copy {
  box-sizing: border-box;
  max-width: 600px;
  font-size: 14pt;
  line-height: 1.3;

  & p, & ol li {
    text-align: justify;
  }

  & p {
    text-indent: 20pt;
  }

  & h1 { font-size: 32pt; }
  & h2 { font-size: 20pt; }

  & h1 {
    margin-left: 20pt;
  }

  & a:link, & a:visited {
    color: var(--color--brand);
    text-decoration: none;
  }

  & a:hover, & a:active {
    color: var(--color--brand-variant);
    text-decoration: none;
  }
}

:global(.signedOut) .copy {
  margin: 0 auto;
  max-width: 680px;
  @media (max-width: 640px) {
    padding: 0 20px;
  }
}
