<md-tab-group dynamicHeight="true">
  <md-tab label="Overview">
    <header class="con-info__header">
      <h1 class="con-info__title">{{ convention.title }}</h1>
    </header>
  </md-tab>
  <md-tab label="Inventory">
    <con-con-inventory [con]="convention"></con-con-inventory>
  </md-tab>
  <md-tab label="Pricing">
    <con-con-pricing [con]="convention"></con-con-pricing>
  </md-tab>
  <md-tab label="Records">
    <con-record-list [con]="convention"></con-record-list>
  </md-tab>
  <md-tab label="Stats">
    <con-stats [con]="convention"></con-stats>
  </md-tab>
</md-tab-group>
