<md-tab-group dynamicHeight="true" *ngIf="convention|async as con; else loading">
  <md-tab label="Overview">
    <header class="con-info__header">
      <h1 class="con-info__title">{{ con.title }}</h1>
    </header>
    <md-card>
      <md-card-header>
        <md-card-title>Summary</md-card-title>
      </md-card-header>
      <md-card-content>
        Total Sales: {{ totalSales | async }}
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Inventory">
    <con-con-inventory [con]="con"></con-con-inventory>
  </md-tab>
  <md-tab label="Pricing">
    <con-con-pricing [con]="con"></con-con-pricing>
  </md-tab>
  <md-tab label="Records">
    <con-record-list [con]="convention"></con-record-list>
  </md-tab>
  <md-tab label="Stats">
    <con-stats [con]="con"></con-stats>
  </md-tab>
</md-tab-group>
