<md-table [dataSource]="dataSource" mdSort>
  <ng-container mdColumnDef="selected">
    <md-header-cell *mdHeaderCellDef>
      <!-- TODO: bulk include/exclude -->
      <!-- TODO: decide if this will be a feature -->
      <md-icon>check</md-icon>
    </md-header-cell>
    <md-cell *mdCellDef="let product">
      <md-checkbox [checked]="included(product)" (change)="toggleIncluded(product)"></md-checkbox>
    </md-cell>
  </ng-container>

  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef md-sort-header>Product</md-header-cell>
    <md-cell *mdCellDef="let product">{{ product.name }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="type">
    <md-header-cell *mdHeaderCellDef md-sort-header>Type</md-header-cell>
    <md-cell *mdCellDef="let product">{{ product.type | type:'name' }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="quantity">
    <md-header-cell *mdHeaderCellDef md-sort-header>Quantity</md-header-cell>
    <md-cell *mdCellDef="let product">{{ product.quantity }}</md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let product; columns: displayedColumns"></md-row>
</md-table>
