<md-table [dataSource]="dataSource" mdSort>
  <ng-container cdkColumnDef="selected">
    <md-header-cell *cdkHeaderCellDef>
      <!-- TODO: bulk include/exclude -->
      <md-icon>check</md-icon>
    </md-header-cell>
    <md-cell *cdkCellDef="let product">
      <md-checkbox [checked]="included(product)" (change)="toggleIncluded(product)"></md-checkbox>
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Product</md-header-cell>
    <md-cell *cdkCellDef="let product">{{ product.name }}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="type">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Type</md-header-cell>
    <md-cell *cdkCellDef="let product">{{ product.type | type:'name' }}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="quantity">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Quantity</md-header-cell>
    <md-cell *cdkCellDef="let product">{{ product.quantity }}</md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let product; columns: displayedColumns" [ngClass]="{'con-inventory__row--excluded': !included(product)}"></md-row>
</md-table>
