<md-table [dataSource]="dataSource" mdSort>
  <ng-container mdColumnDef="type">
    <md-header-cell *mdHeaderCellDef md-sort-header>Type</md-header-cell>
    <md-cell *mdCellDef="let row">{{ row.type | type:'name' }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="product">
    <md-header-cell *mdHeaderCellDef md-sort-header>Product</md-header-cell>
    <md-cell *mdCellDef="let row">{{ row.product | product:'name' }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="quantity">
    <md-header-cell *mdHeaderCellDef>Quantity</md-header-cell>
    <md-cell *mdCellDef="let row">{{ row.quantity }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="price">
    <md-header-cell *mdHeaderCellDef>Price</md-header-cell>
    <md-cell *mdCellDef="let row">{{ row.price | currency:'USD':true }}</md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns"></md-row>
</md-table>
