@import '../variables';
.convention-list {
  &__row {
    &--open {
      background-color: #FFFFDD;
    }
  }
  &__column {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }
  &__code {
    color: $secondary;
    margin: 0 16px;
  }
  &__date {
    font-size: 10pt;
    justify-content: flex-end;
  }
}
