<!-- TODO: find an md-data-table -->
<md-nav-list>
  <ng-container *ngIf="currentConventions.length">
    <h3 md-subheader>Current</h3>
    <md-list-item *ngFor="let convention of currentConventions" (click)="selectConvention(convention)" class="convention-list__row">
      <span class="convention-list__column convention-list__title">{{ convention.title }}</span>
      <span class="convention-list__column convention-list__code">{{ convention.code }}</span>
      <span class="convention-list__column convention-list__date">{{ convention.start | date }} &ndash; {{ convention.end | date }}</span>
    </md-list-item>
  </ng-container>
  <md-divider *ngIf="currentConventions.length && upcomingConventions.length"></md-divider>
  <ng-container *ngIf="upcomingConventions.length">
    <h3 md-subheader>Upcoming</h3>
    <md-list-item *ngFor="let convention of upcomingConventions" (click)="selectConvention(convention)" class="convention-list__row">
      <span class="convention-list__column convention-list__title">{{ convention.title }}</span>
      <span class="convention-list__column convention-list__code">{{ convention.code }}</span>
      <span class="convention-list__column convention-list__date">{{ convention.start | date }} &ndash; {{ convention.end | date }}</span>
    </md-list-item>
  </ng-container>
  <md-divider *ngIf="upcomingConventions.length && previousConventions.length"></md-divider>
  <ng-container *ngIf="previousConventions.length">
    <h3 md-subheader>Previous</h3>
    <md-list-item *ngFor="let convention of previousConventions" (click)="selectConvention(convention)" class="convention-list__row">
      <span class="convention-list__column convention-list__title">{{ convention.title }}</span>
      <span class="convention-list__column convention-list__code">{{ convention.code }}</span>
      <span class="convention-list__column convention-list__date">{{ convention.start | date }} &ndash; {{ convention.end | date }}</span>
    </md-list-item>
  </ng-container>
</md-nav-list>
