<ng-container *ngIf="conventions.length; else placeholder">
  <ng-container *ngIf="openConvention|async as convention; else conList">
    <ng-container *ngIf="convention.type === 'full'; else loader">
      <con-con-info [convention]="convention"></con-con-info>
    </ng-container>
    <ng-template #loader>
      <div class="conventions__loading">
        <md-spinner></md-spinner>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #conList>
    <con-con-list (conClick)="setOpenConvention($event)"></con-con-list>
  </ng-template>
</ng-container>
<ng-template #placeholder>
  <div class="conventions__placeholder">
    <p>
      You haven't signed up for any conventions yet!
    </p>
    <button md-fab class="conventions__placeholder-button" (click)="openAddConventions()">
      <md-icon>add</md-icon>
    </button>
    <p>
      Add one!
    </p>
  </div>
</ng-template>
