<ng-container *ngIf="conventions.length; else placeholder">
  <ng-container *ngIf="openConvention; else conList">
    <header class="conventions__header">
      <h1 class="conventions__title">{{ openConvention.title }}</h1>
    </header>
    <ng-container *ngIf="openConvention.data; else loader">
      <con-record-list [data]="openConvention.data" *ngIf="openConvention.data"></con-record-list>
    </ng-container>
    <ng-template #loader>
      <div class="conventions__loading">
        <md-spinner></md-spinner>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #conList>
    <con-con-list (conClick)="openConvention = $event"></con-con-list>
  </ng-template>
</ng-container>
<ng-template #placeholder>
  <div class="conventions__placeholder">
    <p>
      You haven't signed up for any conventions yet!
    </p>
    <button md-fab class="conventions__placeholder-button" (click)="openAddConventions()">
      <md-icon>add</md-icon>
    </button>
    <p>
      Add one!
    </p>
  </div>
</ng-template>
