<ng-container *ngIf="(con|async).data.records.length; else placeholder">
  <md-table [dataSource]="dataSource">
    <ng-container mdColumnDef="type">
      <md-header-cell *mdHeaderCellDef class="records__column--icon">Type</md-header-cell>
      <md-cell *mdCellDef="let record" class="records__column--icon">
        <div class="records__type-icon" [style.backgroundColor]="type(record).color|color">
          {{ type(record).name[0] }}
        </div>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="products">
      <md-header-cell *mdHeaderCellDef>Products</md-header-cell>
      <md-cell *mdCellDef="let record">{{ products(record) }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="price">
      <md-header-cell *mdHeaderCellDef>Price</md-header-cell>
      <md-cell *mdCellDef="let record">{{ record.price | currency:'USD':true }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="time">
      <md-header-cell *mdHeaderCellDef>Time</md-header-cell>
      <md-cell *mdCellDef="let record">{{ record.time | date:'shortTime' }}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let record; columns: displayedColumns"></md-row>
  </md-table>
</ng-container>
<ng-template #placeholder>
  <div class="records__placeholder">
    <p>You haven't sold anything yet.</p>
  </div>
</ng-template>
