@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Alegreya+SC:500')

$color__brand: #da4800
$color__brand--variant: #d9991e
$color__text: #ffffff
$color__text--placeholder: transparentize($color__text, 0.5)
$color__divider: transparentize($color__text, 0.8)
$color__background: #333333
$color__background--variant: #444444

$font__copy: "Alegreya"
$font__heading: "Alegreya SC"

*
  :margin 0
  :padding 0

body
  :background-color $color__background
  :overflow-x hidden

section, p, div, body, h1, h2, h3, h4, h5, h6
  :color $color__text
  :font-weight normal

p
  :margin 1pc 0

section, p, div, body
  :font
    :size 24pt
    :family $font__copy
  :line-height 1.2
  :letter-spacing 1px

header, footer, section
  :box-sizing border-box
  :height 100vh
  :width 100vw
  :padding 5vh 0

header, footer, section
  :display flex
  :flex-direction column

header
  :align-items center
  :justify-content center

h1
  :font
    :family $font__heading
    :size 44pt
    :weight bold
  :letter-spacing 3px

a
  :font-family $font__heading
  &:link, &:visited
    :text-decoration none
    :color $color__brand
  &:hover
    :color $color__brand--variant

.header
  &__indicator, &__title
    :margin-top auto

.footer
  &__links, &__action
    :margin-top auto
  &__action
    :text-align center

.indicator
  :margin-top auto
  :text-align center
  &__text
    :font-size 16pt

.section
  &__title
    :margin
      :left 10vw
      :top 10vh
  &__info
    :margin
      :left calc(10vw + 3pc)
      :top 1pc
  &__copy
    :font-size 18pt

.container
  :position fixed
  :left 0
  :top 0
  :transition transform 0.4s
  :transform translateY(0)
  &__heightbox
    z-index: 100
    pointer-events: none
    opacity: 0
