@import '../variables';
.color-picker {
  $size: 40px;
  $gutter: 4px;
  &__menu {
    width: $size * 5 + $gutter * 4;
    max-width: unset;
    height: $size * 3 + $gutter * 2 + 16px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primaryLight;
  }
}
