<div #inventory>
  <ng-container *ngIf="types.length; else placeholder">
    <md-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabChange($event)" dynamicHeight="true">
      <md-tab *ngFor="let type of types; trackBy:trackID">
        <ng-template md-tab-label>
          <div class="inventory__tab-label" [ngClass]="{'inventory__tab-label--discontinued': type.discontinued}">{{ type.name }}</div>
        </ng-template>
        <header class="inventory__header" [style.backgroundColor]="type.color|color">
          <h1 class="inventory__title" conEditable [content]="type.name" (contentChange)="setTypeName($event, type.id)" [validator]="typeNameIsUnique"></h1>
          <con-color-picker class="inventory__spacer--right" (selectedChange)="setTypeColor(type.id, $event)" [selected]="type.color">
            <button md-icon-button mdTooltip="Change color" mdTooltipPosition="left">
              <md-icon>format_color_fill</md-icon>
            </button>
          </con-color-picker>
          <button md-icon-button (click)="setTypeDiscontinued(!type.discontinued, type.id)" [mdTooltip]="type.discontinued ? 'Restore' : type.id > 0 ? 'Discontinue' : 'Delete'" mdTooltipPosition="left">
            <md-icon *ngIf="!type.discontinued">remove_circle_outline</md-icon>
            <md-icon *ngIf="type.discontinued">add_circle_outline</md-icon>
          </button>
          <div class="inventory__spacer--fullwidth">
            <md-slide-toggle [(ngModel)]="showDiscontinuedTypes" class="inventory__spacer--right inventory__spacer--bottom" labelPosition="before">
              Show discontinued
            </md-slide-toggle>
          </div>
        </header>
        <div class="inventory__card-grid">
          <md-card class="inventory__card products">
            <md-card-header>
              <md-card-title>Inventory</md-card-title>
              <md-slide-toggle class="inventory__spacer--right" [(ngModel)]="showDiscontinuedProducts" labelPosition="before">Show discontinued</md-slide-toggle>
            </md-card-header>
            <md-card-content class="inventory__card-content">
              <con-product-list [type]="type" [showDiscontinued]="showDiscontinuedProducts"></con-product-list>
            </md-card-content>
            <md-card-actions>
              <button md-raised-button mdTooltip="Download">
                <md-icon>file_download</md-icon>
              </button>
              <button md-raised-button mdTooltip="Upload">
                <md-icon>file_upload</md-icon>
              </button>
              <button md-raised-button (click)="createProduct(type, products(type.id).length + 1)" mdTooltip="New Product">
                <md-icon>add</md-icon>
              </button>
            </md-card-actions>
          </md-card>
          <md-card class="inventory__card inventory__card--small">
            <md-card-header>
              <md-card-title>Prices</md-card-title>
            </md-card-header>
            <md-card-content class="inventory__card-content">
              <con-prices-list [type]="type" [showDiscontinued]="showDiscontinuedProducts"></con-prices-list>
            </md-card-content>
            <md-card-actions>
              <button md-raised-button mdTooltip="Download">
                <md-icon>file_download</md-icon>
              </button>
              <button md-raised-button mdTooltip="Upload">
                <md-icon>file_upload</md-icon>
              </button>
              <button md-raised-button mdTooltip="Add" (click)="addPriceRow(type.id)">
                <md-icon>add</md-icon>
              </button>
            </md-card-actions>
          </md-card>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          <div class="inventory__tab-label">
            <md-icon>add</md-icon>
          </div>
        </ng-template>
      </md-tab>
    </md-tab-group>
  </ng-container>
  <ng-template #placeholder>
    <div class="inventory__placeholder">
      <span class="inventory__spacer--top"></span>
      <p>
        You haven't created any products yet!
      </p>
      <button md-fab class="inventory__placeholder-button" (click)="createType(1)">
        <md-icon>add</md-icon>
      </button>
      <p>Get started!</p>
      <md-slide-toggle [(ngModel)]="showDiscontinuedTypes" class="inventory__spacer--right inventory__spacer--bottom" labelPosition="before">
        Show discontinued
      </md-slide-toggle>
    </div>
  </ng-template>
</div>
<con-help [helpFor]="inventory">
  <con-help-outline selector="con-product-list"></con-help-outline>
  <con-help-outline selector="button[mdTooltip='New Product']"></con-help-outline>
  <con-help-arrow start="button[mdTooltip='New Product']" startSide="top" end="con-product-list" endSide="bottom"></con-help-arrow>
  <con-help-text text="Click this button to add another row to the table" anchor="button[mdTooltip='New Product']" position="right"></con-help-text>
</con-help>
