<md-tab-group (selectedIndexChange)="tabChange($event)">
  <md-tab *ngFor="let type of types" [label]="type.name">
    <header class="inventory__header" [style.backgroundColor]="type.color|color">
      <h1 class="inventory__title" conEditable [(conTent)]=type.name></h1>
    </header>
    <div class="inventory__card-grid">
      <md-card class="inventory__card">
        <md-card-header>
          <md-card-title>Inventory</md-card-title>
        </md-card-header>
        <md-card-content>
          <con-product-list [products]="products(type.id)"></con-product-list>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button class="inventory__button" mdTooltip="Download">
            <md-icon>file_download</md-icon>
          </button>
          <button md-raised-button class="inventory__button" mdTooltip="Upload">
            <md-icon>file_upload</md-icon>
          </button>
          <button md-raised-button class="inventory__button" mdTooltip="Edit">
            <md-icon>edit</md-icon>
          </button>
        </md-card-actions>
      </md-card>
      <md-card class="inventory__card">
        <md-card-header>
          <md-card-title>Prices</md-card-title>
        </md-card-header>
        <md-card-content>
          <con-prices-list [prices]="prices(type.id)"></con-prices-list>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button class="inventory__button" mdTooltip="Download">
            <md-icon>file_download</md-icon>
          </button>
          <button md-raised-button class="inventory__button" mdTooltip="Upload">
            <md-icon>file_upload</md-icon>
          </button>
          <button md-raised-button class="inventory__button" mdTooltip="Edit">
            <md-icon>edit</md-icon>
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <div class="inventory__tab-label">
        <md-icon>add</md-icon>
      </div>
    </ng-template>
  </md-tab>
</md-tab-group>
