@import '../variables';
.prices-list {
  &__product {
    &--discontinued {
      opacity: 0.5;
    }
  }

  &__column {
    &--action {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 80px;
      justify-content: center;
    }
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    height: 100%;
    color: $secondary;
  }

  &__button {
    margin-left: 24px;
  }
}
