<!-- TODO: make a reusable prices table -->
<md-table [dataSource]="dataSource" *ngIf="(dataSource.connect()|async).length; else placeholder">
  <ng-container mdColumnDef="type">
    <md-header-cell *mdHeaderCellDef>Type</md-header-cell>
    <md-cell *mdCellDef="let row">{{ row.type | type:'name' }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="product">
    <md-header-cell *mdHeaderCellDef>Product</md-header-cell>
    <md-cell *mdCellDef="let row">{{ row.product | product:'name' }}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="quantity">
    <md-header-cell *mdHeaderCellDef>Quantity</md-header-cell>
    <md-cell *mdCellDef="let row">
      <con-editable [content]="row.quantity" (contentChange)="setQuantity($event, row.index)" [validator]="quantityIsNatural"></con-editable>
    </md-cell>
  </ng-container>

  <ng-container mdColumnDef="price">
    <md-header-cell *mdHeaderCellDef>Price</md-header-cell>
    <md-cell *mdCellDef="let row">
      <con-editable [content]="row.price | currency:'USD':true" (contentChange)="setPrice($event, row.index)" [validator]="priceIsPositive"></con-editable>
    </md-cell>
  </ng-container>

  <ng-container mdColumnDef="delete">
    <md-header-cell *mdHeaderCellDef class="prices-list__column--action">Delete</md-header-cell>
    <md-cell *mdCellDef="let row" class="prices-list__column--action">
      <button md-icon-button (click)="removeRow(row.index)">
        <md-icon>remove_circle_outline</md-icon>
      </button>
    </md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns"></md-row>
</md-table>
<ng-template #placeholder>
  <div class="prices-list__placeholder">
    <p>
      No prices have been set. Set them with the buttons below!
    </p>
  </div>
</ng-template>
