.prices-list {
  &__column {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;

    &--currency {
      justify-content: flex-end;
    }
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    height: 100%;
    color: #999;
  }
}
