.product-list {
  &__row {
    &--discontinued {
      color: #999;
    }
  }
  &__column {
    flex-basis: 0;
    flex-grow: 1;
  }
  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    height: 100%;
    color: #999;
  }
}
