<md-card class="convention">
  <md-card-header>
    <md-card-title class="convention__title">Conventions</md-card-title>
    <button md-button class="convention__button" (click)="openBuyKeys()" mdTooltip="Buy more keys!"><span class="convention__button-label"><md-icon>vpn_key</md-icon> {{ keys|async }}</span></button>
  </md-card-header>
  <md-card-content>
    <con-list *ngIf="conventions.length"></con-list>
    <ng-template #placeholder>
      <div class="convention__placeholder">
        <span class="convention__placeholder-text">You haven't signed up for any conventions</span>
        <span class="convention__placeholder-text">Add one now!</span>
        <md-icon class="convention__placeholder-icon">arrow_downward</md-icon>
      </div>
    </ng-template>
  </md-card-content>
  <md-card-actions>
    <button md-button class="convention__button--fullwidth convention__button" (click)="openAddConventions()" mdTooltip="Get more conventions" mdTooltipPosition="above"><md-icon>add</md-icon></button>
  </md-card-actions>
</md-card>
