<md-card class="convention">
  <md-card-header>
    <md-card-title class="convention__title">Conventions</md-card-title>
    <button md-button class="convention__button" (click)="openBuyKeys()" mdTooltip="Buy more keys!"><span class="convention__button-label"><md-icon>vpn_key</md-icon> {{ keys|async }}</span></button>
  </md-card-header>
  <md-card-content>
    <md-nav-list *ngIf="conventions.length; else noCons">
      <ng-container *ngIf="currentConventions.length">
        <h3 md-subheader>Current</h3>
        <md-list-item class="convention" *ngFor="let convention of currentConventions" (click)="viewCon(convention.code)">
          {{ convention.title }}
          <span class="convention__code">{{ convention.code }}</span>
          <span class="convention__date">
            {{ convention.start | date }} &ndash; {{ convention.end | date }}
          </span>
        </md-list-item>
      </ng-container>
      <md-divider *ngIf="currentConventions.length && upcomingConventions.length"></md-divider>
      <ng-container *ngIf="upcomingConventions.length">
        <h3 md-subheader>Upcoming</h3>
        <md-list-item class="convention" *ngFor="let convention of upcomingConventions" (click)="viewCon(convention.code)">
          {{ convention.title }}
          <span class="convention__code">{{ convention.code }}</span>
          <span class="convention__date">
            {{ convention.start | date }} &ndash; {{ convention.end | date }}
          </span>
        </md-list-item>
      </ng-container>
      <md-divider *ngIf="upcomingConventions.length && previousConventions.length"></md-divider>
      <ng-container *ngIf="previousConventions.length">
        <h3 md-subheader>Previous</h3>
        <md-list-item class="convention" *ngFor="let convention of previousConventions" (click)="viewCon(convention.code)">
          {{ convention.title }}
          <span class="convention__code">{{ convention.code }}</span>
          <span class="convention__date">
            {{ convention.start | date }} &ndash; {{ convention.end | date }}
          </span>
        </md-list-item>
      </ng-container>
    </md-nav-list>
    <ng-template #noCons>
      <div class="convention__placeholder">
        <span class="convention__placeholder-text">You haven't signed up for any conventions</span>
        <span class="convention__placeholder-text">Add one now!</span>
        <md-icon class="convention__placeholder-icon">arrow_downward</md-icon>
      </div>
    </ng-template>
  </md-card-content>
  <md-card-actions>
    <button md-button class="convention__button--fullwidth convention__button" (click)="openAddConventions()" mdTooltip="Get more conventions" mdTooltipPosition="above"><md-icon>add</md-icon></button>
  </md-card-actions>
</md-card>
