:host {
  flex-grow: 1;
}

.dashboard {
  flex-grow: 1;
  &__card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  &__card {
    flex-grow: 1;
    margin: 16px;
  }
}
