.convention {
  &__title {
    display: flex;
    align-items: center;
    margin: 0;
  }
  &__button {
    margin-left: auto;
  }
  &__button-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__code {
    color: #999999;
    margin: 0 16px;
  }
  &__date {
    font-size: 10pt;
    margin-left: auto;
  }
}
