@import '../variables';
.convention {
  &__title {
    display: flex;
    align-items: center;
    margin: 0;
  }
  &__button {
    margin-left: auto;

    &--fullwidth {
      width: 100%;
    }
  }
  &__button-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__code {
    color: $secondary;
    margin: 0 16px;
  }
  &__date {
    font-size: 10pt;
    margin-left: auto;
  }
  &__placeholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    color: $secondary;
  }
  &__placeholder-text {
    margin: 4px 0;
  }
  &__placeholder-icon {
    margin: 16px 0 0 0;
  }
}
