.title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  user-select: none;
  pointer-events: none;
  color: var(--color--text-placeholder);
}

.cover {
  z-index: var(--z-index--over-toolbar);
}

.selection {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border: none;
  color: inherit;
  font: inherit;
  border-bottom: 1px solid var(--color--divider);
  padding-top: 10px;
  background: none;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
}

.optionsContainer {
  position: absolute;
  min-width: anchor-size(width);
  position-area: center span-bottom;
  box-shadow: 0 0 8px var(--color--shadow);
  background-color: var(--color--background);
  z-index: var(--z-index--over-toolbar);
  border: none;
  overflow-y: hidden;
}

.options {
  z-index: var(--z-index--over-toolbar);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
}

.option {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  height: var(--height--row);
  width: 100%;
  border: none;
  font: inherit;
  color: var(--color--text);
  background-color: var(--background-color);

  &:hover {
    --background-color: var(--color--background-hover-highlight);
  }
}

.arrow,
.check {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  color: var(--color--text-placeholder);
}
