.card {
  position: relative;
  overflow: visible;
  background-color: var(--color--background-variant);
  margin: 16px;
}

@media (min-width: 440px) {
  .card {
    width: calc(100vw - 68px);
  }
}

@media (min-width: 888px) {
  .card {
    width: var(--width--card);
    max-width: calc(100% - 68px);
  }
}

.header {
  display: flex;
  flex-direction: row;
  height: var(--height--row);
  align-items: center;
  overflow: visible;
  background-color: var(--color--background-highlight);
}

.content {
  margin: 0;
  padding: 0;
  overflow: visible;
}

.rightAction {
  margin: 0 12px 0 0;
  font-size: 24px;
  align-self: center;
}

.topAction, .bottomAction {
  composes: outlinedIcon from '../../common/styles.css';
  flex-shrink: 0;
  flex-grow: 0;
}

@media (max-width: 439px) {
  .bottomAction {
    margin: 8px 8px 8px auto;
  }
}

@media (min-width: 440px) {
  .topAction, .bottomAction {
    position: absolute;
    left: 100%;
    margin: 8px;
  }

  .topAction {
    top: 0;
  }

  .bottomAction {
    bottom: 0;
  }
}
