.card {
  overflow: visible;
  background-color: var(--color--background-variant);
  margin: 16px;
  width: calc(600px - 32px);
}

.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  overflow: visible;
  background-color: var(--color--background-highlight);
}

.content {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.rightAction {
  margin-left: auto;
  padding: 16px;
  cursor: pointer;
}
