@import "../variables";

.prices {
  &__column {
    &--action {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 80px;
      justify-content: center;
    }
  }
  &__actions {
    box-sizing: border-box;
    padding: 6px; // HACK: this is just conveniently adding up to the height of one md-table row
    background-color: white;
    border-bottom: 1px solid $divider;
  }
}
