.productTypeName,
.productTypeColor,
.productName,
.productQuantity,
.discontinueButton {
  margin: 0 10px 0 6px;
}

.productTypeColor {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
}

.productTypeName {
  flex-basis: 280px;
}

.productSku,
.productName,
.productQuantity {
  flex-basis: 0;
}

.productName {
  flex-grow: 346;
}

.productQuantity {
  flex-grow: 60;
}

.productSku {
  flex-grow: 140;
}

.discontinueButton,
.deleteButton {
  font-size: 16px;
  align-self: flex-end;
  margin-bottom: 8px;
}

.deleteTypeButton,
.sortButton {
  margin-left: auto;
  margin-right: 8px;
}

.deleteButton {
  margin-left: 8px;
  margin-right: 8px;
}

.newProductType {
  margin-left: 10px;
  padding: 0 16px;
  color: var(--color--text-placeholder);
}

.placeholder {
  composes: placeholder from "../../common/styles.css";
  height: var(--height--row);
}

.discontinued {
  opacity: 0.3;
}
