.container {
  padding-top: 16px;
  margin-left: auto;
  flex-basis: 280px;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 887px) {
  .container {
    position: fixed;
    right: 100%;
  }

  .nav {
    position: relative;
  }
}

@media (min-width: 888px) {
  .nav {
    box-sizing: border-box;
    position: fixed;
    width: 280px;
    max-height: calc(100% - 32px - var(--height--toolbar));
    overflow-y: auto;
  }
}
