.container {
  margin-left: auto;
  flex-basis: 280px;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 887px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index--over-toolbar);
    transform: translateX(-100%);
    transition: transform 0.2s;
    pointer-events: none;
  }

  .focused {
    transform: translateX(0);
    pointer-events: auto;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 888px) {
  .container {
    padding-top: 16px;
  }

  .nav {
    box-sizing: border-box;
    position: fixed;
    width: 280px;
    max-height: calc(100% - 32px - var(--height--toolbar));
    overflow-y: auto;
  }
}
