.container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 887px) {
  .container {
    background: var(--color--background-toolbar);
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media (min-width: 888px) {
  .container {
    width: 100%;
  }
}

.item {
  position: relative;
  width: 100%;
  height: var(--height);
  flex-direction: var(--flex-direction);
  display: flex;
  align-items: center;
  color: var(--color--text);
  transition: 0.1s background-color;
  user-select: none;

  &:hover:not(.disabled) {
    cursor: pointer;
    background-color: var(--color--background-hover-highlight);
  }
}

@media (max-width: 887px) {
  .item {
    --height: var(--height--toolbar);
    --flex-direction: column;
    justify-content: center;
  }

  .children {
    display: none;
  }
}

@media (min-width: 888px) {
  .item {
    --height: var(--height--row);
    --flex-direction: row;
  }
}

.disabled {
  opacity: 0.5;
}

.indent {
  display: inline-block;
}

.icon {
  font-size: 24px;
}

@media (max-width: 887px) {
  .title {
    margin-top: 2px;
    font-size: 10px;
    color: var(--color--text-placeholder);
  }
}

@media (min-width: 888px) {
  .title {
    margin-left: 10px;
  }
}

.indicator {
  display: inline-block;
  height: var(--height);
  width: var(--width);
}

@media (max-width: 887px) {
  .indicator {
    --height: var(--width--indicator);
    --width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 888px) {
  .indicator {
    --height: 100%;
    --width: var(--width--indicator);
    margin-right: 12px;
  }
}

.indicatorSelected {
  background-color: var(--color--brand);
}

.indicatorDefault {
  background-color: var(--color--background-variant);
}

.indicatorDeep {
  background-color: var(--color--brand-variant);
}
