.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color--text);
  transition: 0.1s background-color;
  user-select: none;

  &:hover:not(.disabled) {
    cursor: pointer;
    background-color: var(--color--background-hover-highlight);
  }
}

.disabled {
  opacity: 0.5;
}

.indent {
  display: inline-block;
}

.icon {
  font-size: 24px;
}

.title {
  margin-left: 10px;
}

.indicatorSelected, .indicatorDefault, .indicatorDeep {
  display: inline-block;
  height: 100%;
  width: 4px;
  margin-right: 12px;
}

.indicatorSelected {
  background-color: var(--color--brand);
}

.indicatorDefault {
  background-color: var(--color--background-variant);
}

.indicatorDeep {
  background-color: var(--color--brand-variant);
}
