.header {
  display: flex;
  align-items: center;
  height: 34px;
  margin: 16px;
  padding-left: 16px;
  font-variant-caps: all-small-caps;
  font-size: 16px;
  font-weight: var(--font-weight--semibold);
}

.emptyState {
  opacity: 0.5;
}


.placeholder, .placeholderLarge {
  composes: placeholder from '../../common/styles.css';
}

.placeholder {
  height: 50px;
}
