.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index--toolbar);
  height: var(--height--toolbar);
  background-color: var(--color--background-toolbar);
}

.inner {
  width: var(--width);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.logoContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.pageIcon {
  font-size: 24px;
  padding: 8px;
}


.mobile {
  --display: flex;
  display: var(--display);
}

.desktop {
  --display: flex;
  display: var(--display);
  width: 280px;
  justify-content: flex-start;
  cursor: pointer;
}

@media (min-width: 888px) {
  .inner { --width: 880px; }
  .mobile { --display: none; }
}

@media (max-width: 887px) {
  .logoContainer {
    position: relative;
    padding-left: 4px;
    height: 100%;
    background-color: var(--color--background-toolbar-variant);

    &::after {
      position: absolute;
      left: 100%;
      content: '';
      width: 0;
      height: 0;
      border-width: 30px 0 30px 16px;
      border-style: solid;
      border-color: transparent;
      border-left-color: var(--color--background-toolbar-variant);
    }
  }

  .inner { --width: 100%; }
  .desktop { --display: none; }
  .hidden { display: none; }
}

.title {
  font-family: var(--font--body);
  font-weight: var(--font-weight--bold);
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  margin-left: 8px;
  margin-right: auto;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.action {
  margin: 0 16px 0 0;
}

.textField {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 20px;
}
