<md-card>
  <md-card-title>
    ConArtist Sign In
  </md-card-title>
  <md-card-content>
    <div *ngIf="error" class="error">
      {{ error }}
    </div>
    <div *ngIf="notification">
      {{ notification }}
    </div>
    <form [formGroup]="signInForm" (ngSubmit)="processSignIn()" *ngIf="!isSignUpMode">
      <md-input-container>
        <input mdInput placeholder="Email" type="email" formControlName="email" />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" type="password" formControlName="password" />
      </md-input-container>
      <button md-raised-button color="primary" type="submit" [disabled]="!signInForm.valid || processing">Sign In</button>
      <button md-button (click)="toggleSignUp()" type="button">No account? Sign up!</button>
    </form>
    <form [formGroup]="signUpForm" (ngSubmit)="processSignUp()" *ngIf="isSignUpMode">
      <md-input-container>
        <input mdInput placeholder="Email" type="email" formControlName="email" />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Confirm Email" type="email" formControlName="confirmEmail"/>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" type="password" formControlName="password" />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"/>
      </md-input-container>
      <div>
        <md-checkbox formControlName="termsAccepted">I agree to the Terms and Conditions</md-checkbox>
      </div>
      <button md-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid || processing">Sign Up</button>
      <button md-button (click)="toggleSignUp()" type="button">Actually, I have an account...</button>
    </form>
  </md-card-content>
</md-card>
