md-card {
  margin: 100px auto;
  width: 700px;
}

md-card-content {
  display: flex;
  flex-direction: column;
}

md-input-container {
  width: 100%;
}

div {
  margin: 8px;

  &.error {
    color: red;
  }
}
