$primary: rgba(0, 0, 0, 0.87);
$secondary: rgba(0, 0, 0, 0.54);
$hint: rgba(0, 0, 0, 0.38);

$primaryLight: #ffffff;
$secondaryLight: rgba(255, 255, 255, 0.7);
$hintLight: rgba(255, 255, 255, 0.5);

$fabLayer: 1;
$loadingLayer: 700;
$helpLayer: 1000;
