<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()" *ngIf="signedIn">
    <md-icon>menu</md-icon>
  </button>
  ConArtist
  <button md-icon-button (click)="help.toggle()" class="conartist__toolbar--right">
    <md-icon>help</md-icon>
  </button>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav>
    <md-nav-list>
      <h3 md-subheader>Navigation</h3>
      <md-list-item routerLink="dashboard" (click)="sidenav.close()">Dashboard</md-list-item>
      <md-list-item routerLink="inventory" (click)="sidenav.close()">Inventory</md-list-item>
      <md-list-item routerLink="prices" (click)="sidenav.close()">Prices</md-list-item>
      <md-list-item routerLink="conventions" (click)="sidenav.close()">Conventions</md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Account</h3>
      <md-list-item (click)="sidenav.close() && signOut()">Sign out</md-list-item>
    </md-nav-list>
  </md-sidenav>
  <div class="conartist__content">
    <router-outlet></router-outlet>
  </div>
  <div class="conartist__saving" *ngIf="save.saving">
    <md-spinner></md-spinner>
  </div>
  <button md-fab (click)="save.save()" class="conartist__save-button" [disabled]="save.saving" *ngIf="save.visible">
    <md-icon>save</md-icon>
  </button>
</md-sidenav-container>
