<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  ConArtist
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav>
    <md-nav-list>
      <h3 md-subheader>Navigation</h3>
      <md-list-item routerLink="dashboard">Dashboard</md-list-item>
      <md-list-item routerLink="inventory">Inventory</md-list-item>
      <md-list-item routerLink="conventions">Conventions</md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
