.dialog {
  position: relative;
  width: 640px;
  height: 395px;
  display: flex;
  flex-direction: column;
  background-color: var(--color--background-variant);
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

.header {
  background-color: var(--color--background-highlight);
  font-variant-caps: all-small-caps;
  font-size: 16px;
  color: var(--color--text);
  padding: 0 16px;
}

.contents {
  flex-basis: 0;
  flex-grow: 1;
}

.footer {
  flex-direction: row-reverse;
  padding: 0 9px;
}

.footerButton, .fakeButton {
  height: 34px;
  width: 100px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100%;
  width: 34px;
  height: 34px;
  padding: 0;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 100%;
  font-size: 20px;
  color: var(--color--divider);
  border: 2px solid var(--color--divider);
}
