.dialog {
  position: relative;
  width: 640px;
  max-width: calc(100vw - 8px);
  height: 395px;
  max-height: 395px;
  display: flex;
  flex-direction: column;
  background-color: var(--color--background-variant);
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: var(--height--row);
  flex-grow: 0;
  flex-shrink: 0;
}

.header {
  background-color: var(--color--background-highlight);
  font-variant-caps: all-small-caps;
  font-size: 16px;
  color: var(--color--text);
  padding: 0 16px;
}

.contents {
  flex-basis: 0;
  flex-grow: 1;
  overflow: visible;
}

.footer {
  flex-direction: row-reverse;
  padding: 0 9px;
}

.footerButton, .fakeButton {
  height: 34px;
  max-width: 100px;
}

.fakeButton {
  opacity: 0;
  pointer-events: none;
}

.closeButton {
  composes: outlinedIcon from '../common/styles.css';
  position: absolute;
  margin: 8px;
  left: var(--left);
  right: var(--right);
}

@media (min-width: 740px) {
  .closeButton {
    --left: 100%;
  }
}

@media (max-width: 739px) {
  .closeButton {
    --right: 0;
  }
}
