.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.image {
  margin: 16px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  display: var(--display);
}

@media (max-width: 560px) {
  .image {
    --display: none;
  }
}

.formContent, .form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding);
}

@media (min-width: 560px) {
  .formContent, .form {
    --padding: 0 16px;
  }
}

.form {
  flex-basis: 0;
  flex-grow: 1;
}

.formContent {
  position: relative;
  width: 100%;
}

.titledInput, .input {
  width: 100%;
}

.input {
  height: 44px;
}

.titledInput {
  margin: 5px 0;
}

.button {
  margin-top: 10px;
  height: 34px;
  width: 100px;
  align-self: center;
}

.question {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--font-weight--bold);
  font-size: 16px;
  color: var(--color--text);
}

.info {
  margin-left: 8px;
  color: var(--color--divider);
}

.hint {
  align-self: flex-end;
  text-align: right;
  font-size: 10px;
  margin-top: 4px;
  color: var(--color--text-placeholder);
}

.checkbox {
  margin: 10px;
  font-variant-caps: all-small-caps;
}
