.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.2s, opacity 0.2s;
}

.visible {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
}
