.container {
  position: absolute;
  top: var(--height--toolbar);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.boldFooter {
  margin: 0 16px;
  font-weight: var(--font-weight--bold);
}

.resendEmailButton {
  padding: 0 16px;
}

:global(.signedOut) {
  justify-content: center;
}
