.container {
  position: absolute;
  top: var(--height--toolbar);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

:global(.signedOut) {
  justify-content: center;
}
