.form {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  max-width: 540px;
  margin: 50px auto;
  padding: 16px;
  background-color: transparentize(white, 0.4);

  &__title {
    font-size: 34px;
    text-shadow: 2px 2px transparentize(black, 0.8);
  }
}
