@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  min-height: 100%;
}
html, body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

// HACK: Fixing some bug experienced in Chrome where the save button is too high
.mat-sidenav-content {
  height: calc(100vh - 64px) !important;
}
