.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.heading, .copy {
  margin: 16px;
}

.heading {
  font-size: 24px;
  font-weight: var(--font-weight--semibold);
}

.banner {
  margin: 0 16px;
  height: 105px;
}

.copy {
  text-align: center;
  font-size: 16px;
}
