.error {
  color: var(--color--warn);
  font-size: 24px;
}

.button {
  composes: button from '../form.css';
  margin-top: 0;
}

.form {
  justify-content: flex-end;
}

.signInFooter {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacing {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
}

.forgotPassword {
  align-self: center;
  font-variant: small-caps;
  margin-top: 10px;
}
