.container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: var(--color--text);
  outline: none;
  cursor: pointer;
}

.label {
  padding: 0;
  margin: 0 0 0 4px;
  flex-grow: 1;
}
